<!-- wp:template-part {"slug":"header-sticky"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"blok/hero-banner"} /-->
	<!-- wp:pattern {"slug":"blok/who-we-are"} /-->
	<!-- wp:pattern {"slug":"blok/what-we-do"} /-->
	<!-- wp:pattern {"slug":"blok/why-choose-us"} /-->
	<!-- wp:pattern {"slug":"blok/testimonials"} /-->
	<!-- wp:pattern {"slug":"blok/our-stats"} /-->
	<!-- wp:pattern {"slug":"blok/our-team"} /-->
	<!-- wp:pattern {"slug":"blok/our-blogs"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->